body {
  margin: 0;
}
/* container_01 */
.container_01 {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: unset;
  height: 100vh;
  width: 100%;
}
.background_container01 {
  z-index: -1;
  position: absolute;
  animation: animationContainer01 5s infinite;
}
@keyframes animationContainer01 {
  from {
    transform: skew(-0.06turn, deg);
    scale: 1;
  }
  to {
    transform: skew(0.312rad);
    scale: 1.5;
  }
}

.space_image_logo {
  margin-bottom: 30px;
  height: 20vh;
  border-radius: 10px;
  overflow: hidden;
}
.image_logo_fsoft {
  width: 100%;
  height: 100%;
}
.space_title_sumup {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom, #ff00b4, #0075ff);
  border-radius: 10px;
  width: 60%;
  height: 25vh;
}
.title_sumup {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 85px;
  line-height: 90px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  text-align: center;
  background: -webkit-linear-gradient(-86deg, #ff00b4 5%, #0075ff 53%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
}
.space_count_down {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20vh;
  margin-top: 30px;
}
.space_time_count_down {
  display: flex;
  width: 50%;
  background-color: #ff00b4;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.space_item_time {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
}
.text_number_time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 29px;
  margin-bottom: 15px;
  color: #fff;
}
.text_decription_time {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  margin-top: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.space_date_location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background-color: #0b168d;
}
.text_date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 29px;
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
}
.text_location {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
}
.button_register_event {
  margin-top: 30px;
  width: 40%;
  height: 8vh;
  border-radius: 20px;
  color: #292466;
  font-weight: bold;
  font-size: 18px;
}
.button_register_event:hover {
  cursor: pointer;
  background-color: aliceblue;
}

/* Container_02 */
.container_02 {
  display: flex;
  width: 100%;
  height: 50vh;
}
.space_image_container_01 {
  width: 50%;
  height: 100%;
}
.image_container_02 {
  width: 100%;
  height: 100%;
}
.space_introduce_event_container_02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50%;
  overflow: hidden;
  background-image: url("../images/image_introduce_container_02.png");
  background-size: 100% 100%;
}
.text_title_introduce {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.text_decription_introduce {
  font-family: "Roboto";
  font-weight: lighter;
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  margin-top: 15px;
}
.space_number_member_lucky {
  display: flex;
  width: 100%;
  height: 15vh;
  padding: 10px;
}
.space_number_member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: solid #fff;
  margin-right: 10px;
}
.space_number_lucky {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: solid #fff;
  margin-left: 10px;
}
.text_title_number {
  font-family: "Roboto";
  font-weight: bolder;
  text-align: left;
  font-size: 50px;
  line-height: 22px;
  color: #fff;
  margin-top: 15px;
}
.text_decription_number {
  font-family: "Roboto";
  font-weight: normal;
  text-align: left;
  font-size: 22px;
  line-height: 20px;
  color: #ff00b4;
  margin-top: 25px;
}

/* //Container_03 */
.container_03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
  background-color: #061347;
}
.space_title_container_03 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #fff;
  width: 20%;
  height: 10vh;
  border-radius: 10px;
}
.text_title_container_03 {
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  line-height: 22px;
  color: #fff;
}
.space_customer_arrtists {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  margin-top: 40px;
}
.item_customer_arrtists {
  width: 100%;
  height: 80vh;
}
.space_image_item_customer_arrtists {
  width: 100%;
  height: 100%;
}
.image_item_customer_arrtists {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.space_tag_name_customer_arrtists {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vh;
  background-color: #ff00b4;
}
.text_tag_name_customer_arrtists {
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  line-height: 22px;
  color: #fff;
}

/* // Container 04 */
.container_04 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-image: url("../images/background_container_04.png");
  gap: 10px;
}
.item_timeline_event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #061347;
  width: 15%;
  height: 12vh;
}
.first_item_time {
  background-color: #ff00b4 !important;
}
.text_hour_timeline_event {
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 10px;
}
.text_decription_timeline_event {
  font-family: "Roboto";
  font-weight: normal;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
}

/* // Container_05 */

.container_05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/background_container_05.png");
}
.space_image_main_over_view {
  width: 50%;
  height: 50vh;
  margin-top: 20px;
  border: solid #fff;
}
.image_item_main_over_view {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.space_slice_image_over_view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 15vh;
  margin-top: 20px;
}
.item_slice_image {
  width: 15%;
  height: 100%;
  border: solid #fff;
}
.item_slice_image:hover {
  cursor: pointer;
}
.image_item_slice_image {
  width: 100%;
  height: 100%;
}

/* // Container_06 */

.container_06 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110vh;
  background-image: url("../images/background_container_06.png");
}
.space_prize_sumup_event {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 50px;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 90vh;
  margin-top: 20px;
}
.item_prize {
  display: flex;
  width: 100%;
  height: 45%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.space_image_prize {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin-bottom: 20px;
}
.image_prize {
  width: 100%;
  height: 100%;
  object-fit: fit;
}
.fit_image {
  width: 70%;
  object-fit: cover;
}
.text_title_prize {
  font-family: "Roboto";
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  line-height: 22px;
  color: red;
}
.text_decription_prize {
  font-family: "Roboto";
  font-weight: normal;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  margin-top: 20px;
}

/* // Container_06 */

.container_07 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: #061347;
}
.space_item_sponsored {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
}
.item_sponsored {
  width: 12%;
}
.image_item_sponsored {
  width: 100%;
  height: 100%;
}

/* //Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #0b168d;
  color: #fff;
}
